
<div class="container-fluid appPrincipal">
    <div class="clientNameForm">
            <form action=".">
                <div class="labelInputClientName">
                <label class="labelForInputs" for="inputClientName">Nombre</label>
                <input class="form-control" type="text" id="inputClientName">
                </div>
                <button type="submit" class="btn btnComponent btnGoToMenuSelection">SELECCIONAR DEL MENÚ</button>
            </form>
        </div>
    </div>

