<!-- THIS HTML COMPONENT MANAGES THE FIRST STEP IN CREATING THE ORDER: THE CLIENT NAME INPUT PHASE -->
<div class="container-fluid appPrincipal">
    <div class="clientNameForm">
            <form action=".">
                <div class="labelInputClientName">
                <label class="labelForInputs" for="inputClientName">Nombre</label>
                <input class="form-control" type="text" id="inputClientName" name="clientNameInHTML" [(ngModel)]="clientNameVar">
                </div>
                <button type="submit" class="btn btnComponent btnGoToMenuSelection" (click)="getFromInput()" routerLink="/productList">SELECCIONAR DEL MENÚ</button>
            </form>
    </div>
</div>


