body {
  font-family: 'Open Sans', sans-serif;

}

.firstLayer {
  background: #EEDC32;
}

.secondLayer {
  background: #EEE8B3;
  /* height: 80vh; */
  border-bottom-left-radius: 40%;

}

.navbarWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  margin-top: 2%;
  width: 15vw;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 16vw;
}

.navigators {
  display: flex;
  justify-content: space-around;
}


.headerTitle {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
  color: #4E4A4A;
  width: 66vw;
  height: 52px;
  margin-top: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  background: #F5DC5D;
}

li {
  list-style: none;
}

.cLink {
  width: 100%;
  height: 2em;
  background:
    #FFDB2A;
  border: 0;
  border-radius: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 34px;
  color:
    #575454;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa-trash-alt {
  float: right;
  color: rgb(243, 179, 41);
}

.initialOrdersWrapper {
  display: flex;
}

.goFastWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding-top: 10%;
}

.goFastBtn {
  width: 70%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 2%;
  padding: 1% 5%;
  background: #FFAD09;
  border-radius: 15px;
  cursor: pointer;
}

.recentOrdersWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 6%;
  margin-left: 24%;
  margin-bottom: 2%;

}

.priOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: -30%;
  background: rgba(243, 241, 241, 0.4);
  border: 5px solid #5F5F5F;
  box-sizing: border-box;
  margin-bottom: 3%;
  margin-right: 7%;
}

span {
  margin: 0.4%;
  padding: 0.6%;
}

.orderTime {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5em;
  color: #404040;

}

.customerNameTd {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 18px;
  color: #404040;
}

.orderIdTd {
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
  color: #FFAD09;
  line-height: 27px;
}

.orderTotalTd {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 27px;
  color: #FF8E09;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  width: 20vw;
  align-items: center;

}

.kitchenOrdersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.kOrdersWrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 35%;

}

.kitchenIcon img {
  float: left;
  z-index: 4;
  margin-left: 100%;
}

.readyIcon {
  margin-left: 4%;
}

.readyIcon img {
  float: left;
  z-index: 4;
  margin-left: 30%;
  margin-top: 30%;
  margin-left: 15%;
}

.orderTimeKitchen {
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
  color: #FFAD09;
  line-height: 27px;

}

.currentOrdersWrapper {
  display: flex;
  justify-content: center;
  margin-left: 15%;
  padding-bottom: 3%;

}

.actOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  background: rgba(243, 241, 241, 0.4);
  border: 5px solid #5F5F5F;
  box-sizing: border-box;
  padding: 3%;
}

.editables i {
  font-size: 1.3em;
  padding-right: 2%;
}

.editables {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  border: 2px solid orange;

}

.editingOrdersWrapper {
  display: flex;

}

.customerName {
  border: 2px solid #FF8E09;
  font-weight: bold;
  font-size: 1.1em;
  background: rgba(243, 241, 241, 0.4);

}

.productInList {
  color: #1b1b1b;
  font-weight: bold;
  padding: 1%;
  border: 2px solid #4f4f4f;
  background: rgba(243, 241, 241, 0.4);
  margin-left: -7%;
}

.producType {
  font-size: 0.8em;

}

.addProductBtn,
.noAddProductBtn {
  padding: 2%;
  font-size: 1em;
  color: #2c2c2c;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  margin-top: 1%;
  margin-left: 49%;
  cursor: pointer;
  width: 80%;
  margin-bottom: 3%;

}

.addProductBtn {
  background: rgb(67, 236, 61);

}

.noAddProductBtn {
  background: rgb(253, 168, 40);

}

.idInSingleOrder {
  float: right;
  color: #FF9D09;
  font-weight: bold;
  background: rgba(243, 241, 241, 0.4);

}

.buttonsPanel {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #4BDB46;
  background: rgba(243, 241, 241, 0.4);
  width: 71%;
  margin-left: 23%;
}

.selectMenu {
  font-size: 0.9em;
  color: #2c2c2c;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  padding: 2%;
  margin: 2%;
}


.tradMenu {
  background: #FFDB2A;
}

.bfMenu {
  background: rgb(245, 222, 106);
}

.innerProductsWrapper {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid grey;
  padding: 2%;
  margin: 1%;
}

.kindOfB {
  display: flex;
  border: 2px solid grey;
  padding: 2%;
  margin: 1%;
  background: rgba(236, 130, 9, 0.4);

}

.kindBtn {
  font-size: 1em;
  color: #2c2c2c;
  border: 0;
  cursor: pointer;
  padding: 2% 1%;
  margin: 2%;
  border-radius: 5px;

}

.chicken {
  background: #FFDB2A;
}

.beef {
  background: #FF9D09;
}

.vegan {
  background: #4BDB46;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #FF8E09;
  background: rgba(243, 241, 241, 0.4);
  width: 71%;
  margin-left: 23%;
}

.productInTkOrder {
  color: #1b1b1b;
  font-weight: bold;
  padding: 1%;
  border: 3px solid #4f4f4f;
  background:rgba(243, 241, 241, 0.4);
  width: 150%;
  margin-left: -52%;
  padding: 3%;
}

.clientInput {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 18px;
  color: #404040;
  margin-top: 5%;
  width: 100%;
  padding: 3%;
  border: 2px solid #FF9D09;
}

.takeOrderWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding-bottom: 3%;

}

.specialTkOrder {
  color: #1b1b1b;
  font-weight: bold;
  padding: 1%;
  border: 3px solid#4f4f4f;
  background: rgba(163, 144, 144, 0.4);
  width: 100%;
  margin-left: 2%;
  padding: 3%;
}

/* probando */
.chronoJail{
  max-width: 80%;
  font-size: 0.8em;
  font-weight: bold;
}

.timeBoard{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

/*Classes definition to get used y ngClass directive when necessary*/
.readyToDeliver,
.stillCooking,
.delivered {
  height: 12%;
  border-radius: 9px;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 220%;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1%;
  padding: 4%;
  width: 80%;
  margin-bottom: 17%;

}

.readyToDeliver {
  background: #4BDB46;

}

.stillCooking {
  background: #FF7F7F;

}

.delivered {
  background: #FF9D09;

}