body {
  font-family: 'Open Sans', sans-serif;

}

.firstLayer {
  background: #EEDC32;
}

.secondLayer {
  background: #EEE8B3;
  /* height: 80vh; */
  border-bottom-left-radius: 40%;

}

.navbarWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  margin-top: 2%;
  width: 15vw;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 16vw;
}

.navigators {
  display: flex;
  justify-content: space-around;
}


.headerTitle {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
  color: #4E4A4A;
  width: 66vw;
  height: 52px;
  margin-top: 2%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  background: #F5DC5D;
}

li {
  list-style: none;
}

.cLink {
  width: 100%;
  height: 2em;
  background: #FFDB2A;
  border: 0;
  border-radius: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 34px;
  color: #353434;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa-trash-alt {
  float: right;
  color: rgb(243, 179, 41);
}

.initialOrdersWrapper {
  display: flex;
}

.goFastWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding-top: 10%;
}

.goFastBtn {
  width: 70%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 2%;
  padding: 1% 5%;
  background: #FFAD09;
  border-radius: 15px;
  cursor: pointer;
}

.recentOrdersWrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 8vh;
  margin-left: 12%;
  margin-bottom: 2%;
}

.priOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: -30%;
  background: rgba(243, 241, 241, 0.4);
  border: 5px solid #5F5F5F;
  box-sizing: border-box;
  margin-bottom: 3%;
  margin-right: 7%;
}

span {
  margin: 0.4%;
  padding: 0.6%;
}

.orderTime {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5em;
  color: #404040;

}

.customerNameTd {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 18px;
  color: #404040;
}

.orderIdTd {
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
  color: #FFAD09;
  line-height: 27px;
}

.orderTotalTd {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 27px;
  color: #FF8E09;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  width: 20vw;
  align-items: center;

}

.kitchenOrdersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.kOrdersWrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 35%;

}

.kitchenIcon img {
  float: left;
  z-index: 4;
  margin-left: 100%;
}

.readyIcon img {
  float: left;
  z-index: 4;
  margin-left: 30%;
}

.orderTimeKitchen {
  font-style: normal;
  font-weight: bold;
  font-size: 1 em;
  color: #FFAD09;
  line-height: 27px;

}

.currentOrdersWrapper {
  display: flex;
  justify-content: center;
  margin-left: 35%;
  padding-bottom: 3%;
}

.actOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
  background: rgba(243, 241, 241, 0.4);
  border: 5px solid #5F5F5F;
  box-sizing: border-box;
  padding: 3%;
}

.editables i {
  font-size: 1.3em;
  padding-right: 2%;
}

.editables {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  border: 2px solid orange;

}


/*Classes definition to get used y ngClass directive when necessary*/
.readyToDeliver,
.stillCooking,
.delivered {
  height: 12%;
  border-radius: 9px;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 220%;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 4%;
  padding: 4%;
  width: 80%;

}

.readyToDeliver {
  background: #4BDB46;

}

.stillCooking {
  background: #FF7F7F;

}

.delivered {
  background: #FF9D09;

}