<div class="menuContainer">
    <div class="chooseMenu">
        <div class="btnChooseMenu" id="BreakfastMenu" (click)="showBreakfastMenu()">Menú Desayuno</div>
        <div class="btnChooseMenu" id="TraditionalMenu" (click)="showTraditionalMenu()">Menú Tradicional</div>
    </div>
    <div class="btnMenu" *ngFor="let product of products" (click)="pushProduct($event, product.payload.doc.data())" >{{ product.payload.doc.data().name }}</div>
    </div>
<div class="btnSendOrder" (click)="saveData($event)" >Send to Firestore</div>
