<div class="container menuContainer">
  <div class="row">
    <div class="col-12">
      <div class="chooseMenu">
        <div class="btn btnChooseMenu" id="BreakfastMenu" (click)="showBreakfastMenu($event)">Menú Desayuno</div>
        <div class="btn btnChooseMenu" id="TraditionalMenu" (click)="showTraditionalMenu($event)">Menú Tradicional</div>
      </div>

      <div *ngIf="breakfastBool">
        <div *ngFor="let product of breakfast" class="btn btnMenu" (click)="pushProduct($event, product)">
          {{ product.name }}
        </div>
      </div>
      <div *ngIf="!breakfastBool">
        <div *ngFor="let product of traditional" class="btn btnMenu" (click)="pushProduct($event, product)">
          {{ product.name }}
        </div>
      </div>
      <div class="btnSendOrder" (click)="saveData($event)">Send to Firestore</div>
    </div>
    <!-- creating reactive form to use buttons for adding products -->
    <div class="col-12">
      <button (click)="bringOnlyBreakfast()" class="btn btnMenu">Seleccionar Menú Desayuno</button>
      <button (click)="bringOnlyTraditional()" class="btn btnMenu">Seleccionar Menú Tradicional</button>
    </div>

    <div class="col-12">
      <form [formGroup]="this.ordersService.form">
        <input placeholder=" TODO // OrderId" formControlName="orderId"
          type="text" class="form-control">
        <input placeholder="Nombre del Cliente" formControlName="customerName" type="text"
          class="form-control">
        <button *ngFor="let item of items" class="btn btn-warning m-2" (click)="addItem(item)">
          {{item.name}}
        </button>

        <ul class="list-group">
          <li *ngFor="let item of itemsOfOrder">
            <span class="list-group-item"> {{ item.name }} </span>
            <i (click)="removeItem(item)" class="far fa-trash-alt"></i>
          </li>
        </ul>
        <button class="btn btn-success m-2" (click)="onSubmit()">Send Order to Kitchen</button>
      </form>
    </div>
  </div>
</div>
