<div class="menuContainer">
    <p *ngIf="customerName">Seleccionar productos para {{ customerName }}</p>
    <div class="chooseMenu">
        <div class="btn btnChooseMenu" id="BreakfastMenu" (click)="showBreakfastMenu($event)">Menú Desayuno</div>
        <div class="btn btnChooseMenu" id="TraditionalMenu" (click)="showTraditionalMenu($event)">Menú Tradicional</div>
    </div>
</div>
    <div *ngIf="breakfastBool"  >
            <div *ngFor="let product of breakfast" class="btn btnMenu" (click)="pushProduct($event, product)" >{{ product.name }}</div>
    </div>
    <div *ngIf="!breakfastBool"  >
            <div *ngFor="let product of traditional" class="btn btnMenu" (click)="pushProduct($event, product)" >{{ product.name }}</div>
    </div>

<div class="btnSendOrder" (click)="saveData($event)" >Send to Firestore</div>
