<!-- THIS HTML COMPONENT MANAGES THE ORDERS (ALL ORDERS) VIEW -->
<div class="currentOrdersWrapper">
  <div class="recentOrdersWrapper">
    <div *ngFor="let order of ordersInQueue">
      <div class="actOrder"
        *ngIf="order.payload.doc.data().status == 'enCocina' || order.payload.doc.data().status == 'toDeliver'">
        <div class="customerNameTd">{{ order.payload.doc.data().customerName }}</div>
        <div class="orderIdTd">{{ order.payload.doc.id }}</div>
        <div class="orderTotalTd">{{ order.payload.doc.data().cost | currency:'CLP ':'symbol' }}</div>
        <div [ngClass]="setClass(order.payload.doc.id, order.payload.doc.data())">{{ order.payload.doc.data().status}}
        </div>
        <div class="editables">
          <div>
            <i routerLink='/order/{{order.payload.doc.id}}' class="far fa-edit"></i>
          </div>
          <div>
            <i (click)="deleteOrder(order.payload.doc.id)" class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>

      <!-- <td [hidden]="order.payload.doc.data().completed">
        <input type="checkbox" (change)="markCompleted(order)">
        <span *ngIf="order.payload.doc.data().completed">
          Orden entregada
        </span>
      </td> -->
    </div>
  </div>
</div>