<!-- THIS HTML COMPONENT MANAGES THE ORDER (ONE SINGLE ORDER) VIEW -->

<table class="table table-striped table-dark">
  <tr>
    <th>Identificador de Orden</th>
    <th>Cliente</th>
    <th>Estado</th>
    <th>Productos</th>
    <th>Eliminar Orden</th>
    <th>Marcar como entregada</th>
    
  </tr>
  <tbody>
    <tr *ngFor="let order of ordersInQueue">
      <td>{{ order.payload.doc.data().orderId }}</td>
      <td>{{ order.payload.doc.data().customerName }}</td>
      <td>{{ order.payload.doc.data().status }}</td>
      <td><span *ngFor="let item of order.payload.doc.data().itemsOfOrder">
          {{ item.name }} //
        </span>
      </td>
      <td>
          <i (click)="deleteOrder(order)" class="far fa-trash-alt"></i>
        </td>
      <td [hidden]="order.payload.doc.data().completed">
        <input type="checkbox" (change)="markCompleted(order)">
        <span *ngIf="order.payload.doc.data().completed">
          Orden entregada
        </span>
      </td>
      
    </tr>
  </tbody>
</table>

   
