navbar-brand>img {
    width: 100% \9; 
    max-width: 10%;
}

.bg-dark{
    background: whitesmoke !important;
}

.cLink{
    font-size: 1.2em;
    color: rgb(112, 108, 108) !important;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-weight: bold;
    /* background: white; */
    border-radius: 2%;
    margin-right: 4%;
   
}

.appNavbar{
    justify-content: center;
    align-items: center;

}

.navbar-expand-lg .navbar-nav .nav-link {
    width: 120%;
    flex-flow: wrap;
 
}