<div class="navbarWrapper">
<div>
 <a routerLink=""><img class="logo" src="./../../../../assets/images/BurgerClQLogo1-01.png" alt="Burger Clown Queens Logo"></a>
  </div>
<nav class="navBar">
  <div class="headerTitle">MANEJO DE ÓRDENES</div>
  <div> 
  <ul class="navigators">
    <li><button class="cLink" routerLink="/kitchen">en Cocina</button></li>
    <li><button class="cLink" routerLink="">Listas</button></li>
    <li><button class="cLink" routerLink="/delivered">Entregadas</button></li>
  </ul>
</div>
</nav>
</div>