<!-- THIS HTML COMPONENT MANAGES KITCHEN ORDERS VIEW -->
<div class="kitchenOrdersWrapper">
  <div class="kitchenIcon"><img src="./../../../assets/images/BurgerClownQueenLogo1-02.png" alt="Kitchen imagery"></div>
  <div class="kOrdersWrapper">
    <div class="priOrder" *ngFor="let order of ordersBrought">
      <span>
        <li class="orderTimeKitchen">{{ order.payload.doc.data().startTime.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</li>
        <li>{{ timeInKitchenIs }} {{ updateTimeInKitchen(order) }}</li>
      </span>
      <span class="customerNameTd">{{ order.payload.doc.data().customerName }}</span>
      <!-- <span class="orderIdTd">{{ order.payload.doc.id }}</span> -->
      <span class="orderTotalTd">
        <li *ngFor="let item of order.payload.doc.data().itemsOfOrder">
          {{item.name}} [{{item.type}}]
        </li>
      </span>
      <span><input [attr.id]="'check_' + order.payload.doc.id" type="checkbox" (change)="checkCheckbox($event, 'send_' + order.payload.doc.id)"></span>
      <span><i [attr.id]="'send_' + order.payload.doc.id" class="far fa-share-square" (click)="SendToReadyOrders(order)"></i></span>
  </div>
  
  </div>
</div>