<!-- THIS HTML COMPONENT MANAGES THE INITIAL APP FRONT VIEW -->

<div class="initialOrdersWrapper">
  <div class="goFastWrapper">
    <div class="goFastBtn">
      <p routerLink="/orders">VER ÓRDENES EN CURSO</p>
    </div>
    <div class="goFastBtn">
      <p routerLink="/menuboard">TOMAR ORDEN</p>
    </div>
  </div>

  <div class="recentOrdersWrapper">
    <div class="priOrder" *ngFor="let order of recentSinteticOrders">
      <span class="orderTime">{{ order.payload.doc.data().startTime.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</span>
      <span class="customerNameTd">{{ order.payload.doc.data().customerName }}</span>
      <span class="orderIdTd">{{ order.payload.doc.id }}</span>
      <span class="orderTotalTd">{{ order.payload.doc.data().cost | currency:'CLP ':'symbol' }}</span>
    </div>
  </div>

  <div class="statusWrapper" >
    <div *ngFor="let order of recentSinteticOrders" [ngClass]="setClass(order.payload.doc.id, order.payload.doc.data())">
      {{ order.payload.doc.data().status}}
    </div>
  </div>

</div>
<!-- <div [ngClass]="setClass(order.payload.doc.id, order.payload.doc.data())">
    {{ order.payload.doc.data().status}}
  </div> -->
