<!-- THIS HTML COMPONENT MANAGES THE INITIAL APP FRONT VIEW -->

<div class="container-fluid appPrincipal">
  <div class="row appPCapa2">

    <div class="col-3">
      <div class="btn btnComponent">
        <p routerLink="/orders">VER ÓRDENES EN CURSO</p>
      </div>
      <div class="btn btnComponent">
        <p routerLink="/ingresar">TOMAR ORDEN</p>
      </div>
    </div>
    <div class="col-8 m-1">
      <app-actual-orders></app-actual-orders>
    </div>
    <!-- <div class="orderStatus">
            <ul class="list-group">
                <li class="list-group-item active">Estado de la orden</li>
                <li class="list-group-item status readyToDeliver"><p>Lista</p></li>
                <li class="list-group-item status stillCooking"><p>En Curso</p></li>
                <li class="list-group-item status stillCooking"><p>En Curso</p></li>
            </ul>
        </div> -->
  </div>
</div>
